body {
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  

  #imagen {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 100px;
    height: 100px;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .laser {
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: rgb(7, 155, 7);
  }
  .titulo {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #ffffff;          /* Color verde tipo pixel art */
    text-align: center;      /* Centra el texto */
    font-family: 'Courier New', monospace;  /* Estilo pixel */
}
